<% if (page.type == 'links') { %>
<%- css("/css/links.css") %>
<title>友链 | <%= config.title %></title>
<% } %>

<% if (page.type == 'about') { %>
<%- css("/css/about.css") %>
<title>关于 | <%= config.title %></title>
<% } %>