<div id="greeter" class="no_copy no_drag">
  <div id="title">关于我</div>
  <img id="avatar" class="no_copy no_drag" src="<%- theme.pages.about.avatar %>" />
  <div id="name"><%- config.author %></div>
  <div id="slogan"></div>
</div>

<main>
  <div id="container" class="no_copy no_drag">

    <%- page.content %>
  </div>
</main>