<div id="greeter" class="NoCopy">
	<div id="title">
		<%= config.author %>'s Blog
	</div>
	<div id="slogan">
		<%= theme.index.slogan %>
	</div>
</div>

<main>
	<div id="postsContainer">
	</div>
</main>