@import '_shared/common.styl';

html {
	body {
		#greeter {
			// width: 100%;
			// display: flex;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			// height: 25%;
			margin-bottom: 3em;
			min-height: 7em;

			#title{
				color: #F8F8F8;
				text-shadow: 1px 1px 8px #666666;
				font-size: 300%;
				font-family: sans-serif;
			}

			#avatar{
				margin-top: 1.5em;
				height: 10em;
				width: 10em;
				border-radius: 100%;
			}

			#name{
				color: #F8F8F8;
				text-shadow: 1px 1px 8px #666666;
				font-size: 250%;
				font-family: sans-serif;
			}
		}

		main {
			margin-bottom: 3em;
			padding: 0 1em;
			min-height: 40em;
			z-index: 1;

			#container {
			
				min-height: @min-height;
				z-index: @z-index;
				margin: 0 auto;
				max-width: 40em;
				padding: 1em 1em 1em 1em;
				border-radius: 1em;
				{background-blur-thick};

				#blogContainer { // 改为github等跳转按钮
					display: grid;
					grid-template-columns: repeat(3, 33.3%);
					grid-template-rows: repeat(auto-fill, 4em);

					.Blog {
						margin: 0.4em;
						padding: 0.1em;
						border-radius: 0.5em;
						transition: hover_delay ease-in-out background-color;

						&:hover {
							background-color: rgba(255, 255, 255, 0.1);
							transition: hover_delay ease-in-out background-color;
						}

						display: flex;
						flex-direction: row;
						align-items: center;

						img {
							margin: 0.2em 0.5em 0.1em 0.1em;
							height: 2.8em;
							width: 2.8em;
							border-radius: 100%;
						}

						text-decoration: none;
						color: default_color;
					}
				}
			}
		}
	}
}