@import '_shared/common.styl';

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/font/JetBrains_Mono/JetBrainsMono-Regular.eot');
	src: url('/font/JetBrains_Mono/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'), url('/font/JetBrains_Mono/JetBrainsMono-Regular.woff2') format('woff2'), url('/font/JetBrains_Mono/JetBrainsMono-Regular.woff') format('woff'), url('/font/JetBrains_Mono/JetBrainsMono-Regular.ttf') format('truetype');
	font-style: normal;
}

html {
	body {
		#greeter {
			// width: 100%;
			// display: flex;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			// height: 25%;
			margin-bottom: 3em;
			min-height: 7em;

			#title{
				color: #F8F8F8;
				text-shadow: 1px 1px 8px #666666;
				font-size: 300%;
				font-family: sans-serif;
			}

			#avatar{
				margin-top: 1.5em;
				height: 10em;
				width: 10em;
				border-radius: 100%;
			}

			#name{
				color: #F8F8F8;
				text-shadow: 1px 1px 8px #666666;
				font-size: 250%;
				font-family: sans-serif;
			}
		}

		main {
			margin-bottom: 3em;
			padding: 0 1em;
			min-height: 40em;
			z-index: 1;

			#container {

				min-height: @min-height;
				z-index: @z-index;
				margin: 0 auto;
				max-width: 40em;
				padding: 1em 1em 1em 1em;
				border-radius: 1em;
				{background-blur-thick};

				p code, li code { // inline code
					margin: 0 0.3em;
					padding: 0.1em 0.3em;
					border-radius: 0.3em;
					background: border-box rgb(36, 40, 47, 1);
					font-family: 'Jetbrains Mono', monospace;
					font-size: 0.9em;
					tab-size: 4em;
				}

				#blogContainer { // 改为github等跳转按钮
					display: grid;
					grid-template-columns: repeat(3, 33.3%);
					grid-template-rows: repeat(auto-fill, 4em);

					.Blog {
						margin: 0.4em;
						padding: 0.1em;
						border-radius: 0.5em;
						transition: hover_delay ease-in-out background-color;

						&:hover {
							background-color: rgba(255, 255, 255, 0.1);
							transition: hover_delay ease-in-out background-color;
						}

						display: flex;
						flex-direction: row;
						align-items: center;

						img {
							margin: 0.2em 0.5em 0.1em 0.1em;
							height: 2.8em;
							width: 2.8em;
							border-radius: 100%;
						}

						text-decoration: none;
						color: default_color;
					}
				}
			}
		}
	}
}
