@import '_shared/common.styl';

html {
	body {
		#greeter {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 80%;
			min-height: 7em;

			#title {
				color: #F8F8F8;
				text-shadow: 1px 1px 8px #666666;
				font-size: 400%;
				font-family: sans-serif;
			}

			#slogan {
				color: #EEEEEE;
				text-shadow: 1px 1px 8px #666666;
				font-weight: 500;
			}
		}

		main {
			margin-bottom: 3em;
			padding: 0 1em;
			min-height: 20em;
			z-index: inherit;

			#postsContainer {
				min-height: @min-height;
				z-index: inherit;
				margin: 0 auto;
				max-width: 40em;
				padding: 1em 1em 1em 1em;
				border-radius: 1em;
				background-color: rgba(0, 0, 0, 0.3);
				backdrop-filter: saturate(150%) contrast(100%) blur(8px);
				-webkit-backdrop-filter: saturate(150%) contrast(100%) blur(8px);

				.Post {
					color: inherit;
					text-decoration: none;

					.PostTitle {
						text-align: left;
						font-size: 1.2em;
						font-weight: bold;
					}

					.PostSummary {
						text-align: left;
						margin-left: 2em;
						margin-right: 2em;
						min-height: 3em;
						color: #E0E0E0;
					}

					.PostDate {
						text-align: right;
						color: #BBBBBB;
					}
				}
			}
		}
	}
}