@import '_shared/common.styl';

html {
	body {
		#greeter {
			// width: 100%;
			// display: flex;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			// height: 25%;
			min-height: 16em;

			#title {
				color: greeter_color;
				text-shadow: 1px 1px 8px #666666;
				font-size: 300%;
				font-family: sans-serif;
			}
		}

		main {
			margin-bottom: 3em;
			padding: 0 1em;
			min-height: 40em;
			z-index: 1;

			#container {
				min-height: @min-height;
				z-index: @z-index;
				margin: 0 auto;
				max-width: 40em;
				padding: 1em 1em 1em 1em;
				border-radius: 1em;
				{background-blur-thick};

				#blogContainer {
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
					grid-template-rows: repeat(auto-fit, 4em);
					grid-gap: 0.2em;
					justify-content: space-between

					.Blog {
						margin: 0.2em;
						padding: 0.3em;
						border-radius: 0.5em;
						transition: hover_delay ease-in-out background-color;
						width: fit-content
						width: -moz-fit-content

						&:hover {
							background-color: rgba(255, 255, 255, 0.1);
						}

						display: flex;
						flex-direction: row;
						align-items: center;

						img {
							margin: 0.2em 0.5em 0.1em 0.1em;
							height: 2.8em;
							width: 2.8em;
							border-radius: 100%;
						}

						text-decoration: none;
						word-wrap: break-word;
						color: default_color;
					}
				}

				#websiteContainer {
					.Site {
					}
				}
			}
		}
	}
}
