@font-face {
	font-family: "JetBrains Mono";
	src: url("/font/JetBrains_Mono/JetBrainsMono-Regular.eot");
	src: url("/font/JetBrains_Mono/JetBrainsMono-Regular.eot?#iefix") format("embedded-opentype"),
		url("/font/JetBrains_Mono/JetBrainsMono-Regular.woff2") format("woff2"),
		url("/font/JetBrains_Mono/JetBrainsMono-Regular.woff") format("woff"),
		url("/font/JetBrains_Mono/JetBrainsMono-Regular.ttf") format("truetype");
	font-style: normal;
}

html, body {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	font-family: 'Noto Sans SC', sans-serif;
	color: #EAEAEA;
}

body::before {
	content: '';
	position: fixed;
	width: 100%; height: 100%;
	top: 0; left: 0;
	background: no-repeat center/cover url("https://s2.loli.net/2022/01/15/YUbulogsALCX6ip.jpg");
	background-color: #555555;

	z-index: -1;
}

header {
	position: fixed;
	top: 0.5em; right: 0;
	z-index: 1;
}

.HeaderButton, .ButtonLink, .ButtonIcon {
	width: 1.5em; height: 1.5em;
}

.HeaderButton {
	margin: 0.5em 1em 0.5em 1em;
	padding: 0.3em;
	border-radius: 100%;

	background-color: rgb(0, 0, 0, 0.3);
	backdrop-filter: saturate(150%) contrast(70%) blur(8px);
	-webkit-backdrop-filter: saturate(150%) contrast(70%) blur(8px);

	cursor: pointer;
}

#greeter {
	width: 100%; height: 40%;
	min-height: 10em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

#title {
	color: #F8F8F8;
	text-shadow: 1px 1px 8px #666666;
	font-size: 3em;
	font-weight: 400;
	font-family: sans-serif;
}

#date {
	color: #F8F8F8;
	font-weight: bold;
	text-shadow: 1px 1px 8px #666666
}

#tagContainer {
	margin: 1em 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.Tag {
	margin: 0.1em 0.3em;
	padding: 0.1em 0.3em;
	border-radius: 0.3em;

	font-size: 0.9em;

	background-color: rgb(0, 0, 0, 0.3);
	backdrop-filter: saturate(150%) contrast(70%) blur(8px);
	-webkit-backdrop-filter: saturate(150%) contrast(70%) blur(8px);
}

.Seperator {
	margin: 0 1em;
}

main {
	margin: 0 auto 3em;
	max-width: 40em;
	min-height: 40em;

	padding: 0.3em 1em 1em;

	border-radius: 1em;
	background-color: rgb(0, 0, 0, 0.3);
	backdrop-filter: saturate(150%) contrast(100%) blur(8px);
	-webkit-backdrop-filter: saturate(150%) contrast(100%) blur(8px);
}
#comment {
	margin: 0 auto 3em;
	max-width: 40em;
	min-height: 10em;

	padding: 0 1em;

	border-radius: 1em;
	background-color: rgb(0, 0, 0, 0.3);
	backdrop-filter: saturate(150%) contrast(100%) blur(8px);
	-webkit-backdrop-filter: saturate(150%) contrast(100%) blur(8px);
}

footer {
	padding: 0.5em;
	position: relative;
	left: 0; right: 0;
	background-color: #222222;
}

#copyright, #credit, footer a , #license{
	margin: 0.2em;
	text-align: center;
	text-decoration: none;
	color: #666666;
}

/* text style */
main hr {
	background-color: rgb(196, 196, 196, 1);
	border: none;
	width: 90%; height: 1px;
}
.NoCopy {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.NoDrag {
	-webkit-user-drag: none;
}
.NoTextDeco {
	text-decoration: none;
}
.Center {
	text-align: center;
}
.Serif {
	font-family: 'Noto Serif CJK SC', serif;
	font-weight: 500;
}
main blockquote {
	border-left: 0.2em solid rgb(100, 100, 100);
	padding-left: 0.2em;
	margin-left: 0.2em;
	color: #CCCCCC;
	font-weight: 500;
}
.spoiler {
	background-color: #EAEAEA;
}

main code {
	background: border-box rgb(38, 42, 49, 1);
	border-radius: 0.3em;
	font-family: 'Jetbrains Mono', monospace;
	font-size: 0.9em;
	tab-size: 4em;
	overflow-x: auto;
}
main p code {
	margin: 0 0.3em; padding: 0.1em 0.3em;
	border-radius: 0.3em;
	overflow-x: auto;
}
pre {
	margin: 0.3em; padding: 1em;
	border-radius: 0.3em;
	background: border-box rgb(38, 42, 49, 1);
	overflow-x: auto;
}

main img {
	display: block;
	margin: 0 auto;
	max-width: 30em;
	max-height: 30em;
}

main table {
	margin: 0 auto;
}