<% if (is_post() && page.cc) { %>
<div id="license"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh"><img alt="Creative Commons License" style="border-width:0" src="/img/cc.png" /></a>
  <small>本文章采用<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA 4.0)</a>许可证进行认证。</small>
</div>
<% } %>
<div id="copyright"><small><%- mail_to(theme.email, config.author) %> Copyright © 2021 ~ 2023</small></div>
<!-- <div id="credit"><small>由 Hexo 带劲驱动 </small></div> -->
