<div class="HeaderButton">
	<a class="ButtonLink" href="/">
		<img class="ButtonIcon" alt="首页" src="/img/icon/home.svg" />
	</a>
</div>
<div class="HeaderButton">
	<a class="ButtonLink" href="/links/">
		<img class="ButtonIcon" alt="友链" src="/img/icon/links.svg" />
	</a>
</div>
<div class="HeaderButton">
	<a class="ButtonLink" href="/about/">
		<img class="ButtonIcon" alt="关于" src="/img/icon/about.svg" />
	</a>
</div>